<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{36} - %msg%n"/>
        </Console>

        <Console name="MetricLog" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%msg%n}{ERROR=red, WARN=yellow, INFO=blue, DEBUG=green}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="demo.log.Log" level="info" additivity="false">
            <AppenderRef ref="MetricLog"/>
        </Logger>

        <Logger name="io.netty.handler" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
